.about-team {
    padding-top: toRem(180);
    padding-bottom: toRem(120);

    &__title {
        font-family: $fontFamily;
        font-weight: 700;
        font-size: toRem(46);
        line-height: 130%;
        text-align: center;
        color: $gray-900;
        margin-bottom: toRem(24);
    }

    &__text {
        font-family: $fontFamily;
        font-weight: 400;
        font-size: toRem(18);
        line-height: 150%;
        text-align: center;
        color: $gray-700;
        margin-bottom: toRem(60);
    }

    &__subtitle {
        font-family: $fontFamily;
        font-weight: 700;
        font-size: toRem(20);
        line-height: 150%;
        text-align: center;
        color: $gray-800;
    }

    &__text--two {
        font-family: $fontFamily;
        font-weight: 400;
        font-size: toRem(16);
        line-height: 160%;
        text-align: center;
        color: $gray-700;
    }

    &__content {
        padding: 16px 5px;

    }

    &__item {
        padding: 0 15px;
        width: 25%;

        &:hover .about-team__social {
            opacity: 1;
            transform: translateY(0);
        }
    }

    &__row {
        display: flex;
        flex-wrap: wrap;
        margin: 0 -15px;
        row-gap: 60px;

    }


    &__subtitle--two {
        font-family: $fontFamily;
        font-weight: 400;
        font-size: toRem(18);
        line-height: 150%;
        text-align: center;
        color: $gray-900;
    }

    &__link {
        font-family: $fontFamily;
        font-weight: 400;
        font-size: toRem(18);
        line-height: 150%;
        text-decoration: underline;
        text-decoration-skip-ink: none;
        text-align: center;
        color: $primary;
    }

    &__social {
        position: absolute;
        bottom: 0;
        left: 0;
        z-index: 10;
        width: 100%;
        height: 60px;
        display: flex;
        justify-content: center;
        background: rgba($primary, .7);
        border-radius: 0 0 4px 4px;
        padding: 20px;
        opacity: 0;
        transform: translateY(60px);

    }

    &__btn {
        font-family: "icons";
        font-size: 18px;
        margin-left: 13px;
        color: $white;
    }

    &__photo {
        position: relative;

    }

    &__img {
        display: flex;
        max-width: 100%;
        height: auto;
    }
}


@media (max-width: 1200px) {
    .about-team{
        padding-top: toRem(160);
        padding-bottom: toRem(100);
    }

    .about-team__row{
        margin-bottom: 21px;
    }

}

@media (max-width: 991px) {
    .about-team{
        padding-top: toRem(140);
        padding-bottom: toRem(80);
    }

}

@media (max-width: 850px) {

    .about-team__img {
        width: 100%;
    }

    .about-team__item {
        width: 50%;
    }

    .about-team{
        padding-top: toRem(120);
        padding-bottom: toRem(60);
    }

}

@media (max-width: 768px) {

        .about-team{
        padding-top: toRem(100);
        padding-bottom: toRem(50);
    }

}


@media (max-width: 620px) {

    .about-team__title {
        font-size: toRem(30);
    }

    .about-team{
        padding-top: toRem(80);
        padding-bottom: toRem(40);
    }

}

@media (max-width: 520px) {

    

    .about-team{
        padding-top: toRem(60);
        padding-bottom: toRem(30);
    }

    .about-team__subtitle{
        font-size: 18px;
    }

    .about-team__text--two{
        font-size: 14px;
    }

    .about-team__item {
        width:  100%;
    }
}



@media (max-width: 420px) {

    

    .about-team{
        padding-top: toRem(40);
        padding-bottom: toRem(10);
    }

  

}



