.about-reviews {
    padding-top:toRem(121);
    padding-bottom: toRem(112);

    &__item {
        width: 25%;
        text-align: center;
    }

    &__row {
        display: flex;
        gap: toRem(20);

    }

    &--picture__icon {
        display: inline-block;
        color: $gray-600;
        font-size: toRem(43);
        font-family: "icons";
        margin-bottom: toRem(25);
    }

    &__procent{
        font-family: $fontFamily;
        font-weight: 700;
        font-size: toRem(46);
        line-height: 130%;
        text-align: center;
        color: $primary;
        margin-bottom: toRem(17);
    }

    &__text{
        font-family: $fontFamily;
        font-weight: 400;
        font-size: toRem(14);
        line-height: 150%;
        text-align: center;
        color: $gray-900;
       max-width: 240px;
       margin: 0 auto;
        
    }
}


@media (max-width: 1200px) {
  
    .about-reviews__item{
      width: 50%;
    }
     
    .about-reviews__row{
        flex-wrap: wrap;
        gap: 0;
        justify-content: space-between;
        row-gap: 21px;
    }
    .about-reviews{
        padding-top:toRem(100);
        padding-bottom: toRem(100);
    }
  }


  @media (max-width: 991px) {
   .about-reviews{
    padding-top:toRem(80);
    padding-bottom: toRem(80);
   }

  }

  @media (max-width: 850px) {
    .about-reviews{
     padding-top:toRem(70);
     padding-bottom: toRem(70);
    }
 
   }

   @media (max-width: 768px) {
    .about-reviews{
     padding-top:toRem(60);
     padding-bottom: toRem(60);
    }
 
   }
 
 
  @media (max-width: 620px) {
    .about-reviews__item{
        width: 100%;
        row-gap: 48px;
      }

      .about-reviews{
        padding-top:toRem(50);
        padding-bottom: toRem(50);
       }
  
  }

  @media (max-width: 520px) {
    .about-reviews{
     padding-top:toRem(40);
     padding-bottom: toRem(40);
    }
 
   }

   @media (max-width: 420px) {
    .about-reviews{
     padding-top:toRem(30);
     padding-bottom: toRem(30);
    }
 
   }
 
