.about-our {
    padding-bottom: toRem(180);
    padding-top: toRem(80);
    background-color: $gray-200;
    &__title {
        font-family: $fontFamily;
        font-weight: 700;
        font-size: toRem(46);
        line-height: 130%;
        text-align: center;
        color: $gray-900;
        margin: toRem(24);
    }
    &__text{
        font-family: $fontFamily;
        font-weight: 400;
        font-size: toRem(18);
        line-height: 150%;
        text-align: center;
        color: $gray-700;
        margin-bottom: toRem(60);
    }

    &__row{
        display: flex;
        gap: toRem(188);
    }

    &--picture__icon{
        display: inline-block;
        font-family: "icons"; 
        color: $primary;
        font-size: toRem(42);
        margin-bottom: toRem(24);
    
    }

    &__item{
        text-align: center;
    }

    &__subtitle{
        font-family: $fontFamily;
        font-weight: 700;
        font-size: toRem(20);
        line-height: 150%;
        color: $gray-900;
        margin-bottom: toRem(8);
    }

    &__text--two{
        font-family: $fontFamily;
        font-weight: 400;
        font-size: toRem(16);
        line-height: 160%;
        color: $gray-700;
    }
}

@media (max-width: 1200px) {
    .about-our{
        padding-bottom: toRem(160);
        padding-top: toRem(70);
    }

 }


@media (max-width: 991px) {
	.about-our__row{
        flex-wrap: wrap;
        justify-content: center;
        gap: 0;
        row-gap: 21px;
    }

    .about-our__item{
            width: 50%;
    }

    .about-our{
        padding-bottom: toRem(140);
        padding-top: toRem(60);
    }

 }

 @media (max-width: 850px) {
    .about-our{
        padding-bottom: toRem(120);
        padding-top: toRem(50);
    }

 }


 @media (max-width: 768px) {
    .about-our{
        padding-bottom: toRem(100);
        padding-top: toRem(40);
    }

 }

 @media (max-width: 620px) {

    .about-our__item{
            width: 100%;
    }

    .about-our{
        padding-bottom: toRem(80);
        padding-top: toRem(30);
    }

    .about-our__title{
        font-size: toRem(40);
    }

 }

 @media (max-width: 520px) {

    .about-our__item{
            width: 100%;
    }

    .about-our{
        padding-bottom: toRem(60);
        padding-top: toRem(20);
    }

    .about-our__title{
        font-size: toRem(30);
    }


 }

 @media (max-width: 420px) {

    .about-our__item{
            width: 100%;
    }

    .about-our{
        padding-bottom: toRem(40);
        padding-top: toRem(10);
    }



 }