.about-our {
    padding-bottom: toRem(180);
    padding-top: toRem(80);
    &__title {
        font-family: $fontFamily;
        font-weight: 700;
        font-size: toRem(46);
        line-height: 130%;
        text-align: center;
        color: $gray-900;
        margin: toRem(24);
    }
    &__text{
        font-family: $fontFamily;
        font-weight: 400;
        font-size: toRem(18);
        line-height: 150%;
        text-align: center;
        color: $gray-700;
        margin-bottom: toRem(60);
    }

    &__row{
        display: flex;
        gap: toRem(188);
    }

    &--picture__icon{
        display: inline-block;
        font-family: "icons"; 
        color: $primary;
        font-size: toRem(42);
        margin-bottom: toRem(24);
    
    }

    &__item{
        text-align: center;
    }

    &__subtitle{
        font-family: $fontFamily;
        font-weight: 700;
        font-size: toRem(20);
        line-height: 150%;
        color: $gray-900;
        margin-bottom: toRem(8);
    }

    &__text--two{
        font-family: $fontFamily;
        font-weight: 400;
        font-size: toRem(16);
        line-height: 160%;
        color: $gray-700;
    }
}