.ceo {
    padding-top: toRem(112);
    &__row {
        display: flex;
    
    }


    &__title {
        font-family: $fontFamily;
        font-weight: 700;
        font-size: 20px;
        line-height: 150%;
        color: $gray-900;
        position: relative;
        padding-left: toRem(60);
        margin-bottom: toRem(48);

        &::before {
            font-family: "icons";
            content: "\e903";
            position: absolute;
            font-size: toRem(20);
            color: $primary;
            top: 0;
            left: 0;
        }
    }

    &__text-two {
        font-family: $fontFamily;
        font-weight: 700;
        font-size: 20px;
        line-height: 150%;
        color: $gray-900;
        padding-left: toRem(54);
        margin-bottom: toRem(60);

    }

    &__content{
        width: 735px;
        border-radius: 4px;
        box-shadow: 0 4px 4px -4px rgba(30, 33, 44, 0.03), 0 12px 10px -6px rgba(154, 156, 165, 0.04), 0 30px 24px -10px rgba(154, 156, 165, 0.05), 0 80px 80px -20px rgba(154, 156, 165, 0.08);
        background: $white;
        padding: toRem(80) toRem(40) toRem(60) toRem(82);
        position: relative;
        left: -48px;
        top: -116px;

     
    }

    &__text{
        font-family: $fontFamily;
        font-weight: 700;
        font-size: toRem(16);
        line-height: 160%;
        color: $gray-900;
        margin-bottom: toRem(8);
    }

    &__subtitle{
        font-family: $fontFamily;
        font-weight: 400;
        font-size: toRem(14);
        line-height: 150%;
        color: $gray-700;
    }

   &__img{
    display: block;
    max-width: 100%;
   }

   &__bottom{
    display: flex;
    justify-content: space-between;
    padding-left: toRem(54);
   }


}


@media (max-width: 1200px) {
 .ceo{
    padding-top: 100px;
 }
}



@media (max-width: 1121px) {
  
    .ceo__row{
            flex-wrap: wrap
    }

    .ceo__content{
            width: 100%;
            top: 0;
            left: 0;
    }

    .ceo__img{
            width: 100%;
    }

    .ceo{
        padding-top: 90px;
     }
}


@media (max-width: 991px) {
    .ceo{
       padding-top: 80px;
    }
   }


@media (max-width: 850px) {
    .ceo{
       padding-top: 70px;
    }
   }

   @media (max-width: 768px) {
    .ceo{
       padding-top: 60px;
    }
   }


   @media (max-width: 620px) {
    .ceo{
       padding-top: 50px;
    }

    .ceo__title{
        font-size: 16px;
        padding-left: 30px;
        margin-bottom: 28px;
    }

    .ceo__text-two{
        padding-left: 34px;
        margin-bottom: 30px;
        font-size: 14px;
    }

    .ceo__content{
      
        padding: 60px 20px 40px 62px;
    }
   }


   @media (max-width: 520px) {
    .ceo{
       padding-top: 40px;
    }
   }


   
   @media (max-width: 420px) {
    .ceo{
       padding-top: 30px;
    }
    .ceo__bottom{
            flex-wrap: wrap;
    }
 
     .ceo__title{
         font-size: 13px;
         padding-left: 30px;
         margin-bottom: 28px;
     }
 
     .ceo__text-two{
         padding-left: 34px;
         margin-bottom: 30px;
         font-size: 12px;
     }
 
   }

 
 