.clients{
    background-color: $gray-200;
    padding-top: toRem(85);
  

    &__container{
        display: flex;
       justify-content: space-between;
    }

    &__text{
        font-family: $fontFamily;
        font-weight: 400;
        font-size: toRem(16);
        line-height: 160%;
        color: $gray-800;
        margin-bottom: toRem(24);
    }

    &__name{
        font-family: $fontFamily;
        font-weight: 700;
        font-size: toRem(16);
        line-height: 160%;
        color: $gray-900;
        margin-bottom: toRem(4);
    }

    &-swiper{
        
        position: relative;
    }

    &__position{
        font-family: $fontFamily;
        font-weight: 400;
        font-size: toRem(14);
        line-height: 150%;
        color: $gray-700;
    }

    &__buttons{
        display: flex;
        position: absolute;
        bottom: 0;
        right: 0;
        z-index: 10;

    }

    &__img{
        display: block;
        max-width: 100%;

        margin-bottom: -60px;
    }

    &__logo{
        margin-bottom: toRem(24);
    }

    &__content{
        max-width: 600px;
    }
}

@media (max-width: 1120px) {

    .clients__img{
    width: 360px;

    }
}

@media (max-width: 991px) {

    .clients__img{
    width: 300px;
    object-fit: cover;

    }

    .clients{
        padding-top: toRem(85);
    }
}

@media (max-width: 914px) {

  .clients__img{
    display: none;
  }

  
  .clients__content{
    max-width: 100%;
  }

  .clients{
    padding-top: toRem(75);
    padding-bottom: 60px;
}

}


@media (max-width: 850px) {
    
    .clients{
      padding-top: toRem(65);
  }
  
  }



@media (max-width: 768px) {
    
    .clients{
      padding-top: toRem(55);
  }
  
  }


@media (max-width: 620px) {
    
    .clients{
      padding-top: toRem(45);
  }
  
  }


@media (max-width: 520px) {
    
    .clients{
      padding-top: toRem(35);
  }
  
  }