.dev-home{
    display: flex;
    align-items: center;
    padding: 252px 0 179px;

    &__title{
        font-family: $fontFamily;
        font-weight: 700;
        font-size: toRem(72);
        line-height: 130%;
        letter-spacing: 0.01em;
        color: $gray-900;
        margin-bottom: toRem(24);
    }

    &__text{
        font-family: $fontFamily;
        font-weight: 400;
        font-size: toRem(20);
        line-height: 150%;
        color: $gray-700;
       
    }

    &__row{
      max-width: 600px;
    }
}

@media (max-width: 850px) {
    .dev-home__title{
        font-size: 62px;
    }
   
  
}

@media (max-width: 768px) {
    .dev-home__title{
        font-size: 52px;
    }
   
    .dev-home__text{
            font-size: 19px;
    }
   
}

@media (max-width: 620px) {
    .dev-home__title{
        font-size: 42px;
    }
   
    .dev-home__text{
            font-size: 18px;
    }

    .dev-home{
        padding: 210px 0 111px;
    }
   
}


@media (max-width: 520px) {
    .dev-home__title{
        font-size: 32px;
    }
   
    .dev-home__text{
            font-size: 17px;
    }

    .dev-home{
        padding: 180px 0 111px;
    }

    .dev-home__together{
            flex-direction: column;
    }

    .dev-home__content{
            margin-bottom: 21px;
    }
   
}

@media (max-width: 420px) {
  
    .dev-home__text{
            font-size: 16px;
    }

    .dev-home{
        padding: 100px 0 111px;
    }

   
}