.dev-home {

    &__link {
        font-family: $fontFamily;
        font-weight: 400;
        font-size: 16px;
        line-height: 160%;
        color: $gray-700;
    }

    &--links {
        font-family: $fontFamily;
        font-weight: 700;
        font-size: 16px;
        line-height: 160%;
        color: $primary;
    }

    &__span {
        display: inline-block;
        margin: 0 12px 0;
    }
    &--coment{
        font-family: $fontFamily;
        font-weight: 400;
        font-size: 16px;
        line-height: 160%;
        color: $gray-700;

        position: relative;
        padding-left: toRem(16);

        &::before{
            content: "\e907";
            position: absolute;
            font-family: "icons"; 
            top: -2px;
            left: -8px;
        }
    }

    &__together{
        display: flex;
        justify-content: space-between;
    }

    &__inner{
        display: flex;
        gap: toRem(18);
    }

    
}