.interior-offer{
    padding-top: toRem(120);
    padding-bottom: toRem(180);

    &__content{
        display: flex;
        gap: toRem(105);
    }

  &__title{
    font-family: $fontFamily;
    font-weight: 900;
    font-size: toRem(46);
    line-height: 130%;
    color: $gray-900;
    margin-bottom: toRem(80);

  }

  &__text{
    font-family: $fontFamily;
    font-weight: 700;
    font-size: toRem(28);
    line-height: 150%;
    color: $gray-900;
    margin-bottom: toRem(12);
  }

  &__subtitle{
    font-family: $fontFamily;
    font-weight: 400;
    font-size: toRem(16);
    line-height: 160%;
    color: $gray-700;
    margin-bottom: toRem(24);
  }

  &__wow{
    font-family: $fontFamily;
    font-weight: 700;
    font-size: toRem(28);
    line-height: 150%;
    color: $gray-900;

    position: relative;
    padding-left: toRem(46);

    &::before{
        content: "\e91f";
        position: absolute;
        font-family: "icons"; 
        top: toRem(1);
        left: 0;
        font-size: toRem(22);
        color: $primary;
    }
  }


  &__top{
    padding-left: toRem(45);
    position: relative;

    &::before{
        content: "\e918";
        position: absolute;
        top: toRem(11);
        left: 0;
        color: $primary;
        font-size: toRem(22);
        font-family: "icons"; 

    }
  }

}