.our  {
  
    
    &__text {
        font-family: $fontFamily;
        font-weight: 700;
        font-size: toRem(20);
        line-height: 150%;
        text-align: center;
        color: $gray-900;
        margin-bottom: toRem(8);
    }

    &__title {
        font-family: $fontFamily;
        font-weight: 400;
        font-size: toRem(16);
        line-height: 160%;
        text-align: center;
        color: $gray-700;
        width: toRem(285);
        margin: 0 auto;
    }

    &-picture__icon {
        display: inline-block;
        color: $primary;
        font-size: toRem(44);
        margin-bottom: toRem(24);
        color: #005aff;
    }

    &__row {
        display: flex;
        text-align: center;

    }

    &__item {
        width: 33.3333333%;
        position: relative;

        &:not(:last-child)::after {
            display: inline-block;
            content: '';
            position: absolute;
            top: 0;
            right: 0;
            background-image: url(../../img/our/divider.svg);
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            width: toRem(1);
            height: 100%;


        }
    }

    &--black{
        position: relative;
        background-color: $gray-900;
        padding: toRem(80) 0 toRem(125);
    }

    &--white{
        font-family: $fontFamily;
        font-weight: 700;
        font-size: toRem(46);
        line-height: 130%;
        color: $white;
    }

    &--red{
        color: $white;
    }

    &__link{
        display: inline-block;
        font-family: $fontFamily;
        font-weight: 700;
        font-size: toRem(16);
        line-height: 325%;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        text-align: center;
        color: $white;
        border-radius: 4px;
        padding: 0px 112px;
        background: $primary;
    }

    &__block{
        position: absolute;
        top: 100%;
        left: 50%;
        transform: translateX(-50%);
        z-index: 10;
        margin-top: toRem(-24);
    }
}


@media (max-width: 991px) {
    .our__item{
        width: 50%;

        &:last-child{
         
            width: 100%;
        }
    }

    .our__row{
        display: flex;
        flex-wrap: wrap;
        row-gap: 30px;

    }


}   


@media (max-width: 850px) {
        
    .our__item:not(:last-child)::after{
        display: none;
    }

   
}  

@media (max-width: 778px) {
        
    .our__link{
         padding: 0 80px;
    }
    
 }  

@media (max-width: 768px) {
        
   .our__link{
        padding: 0 80px;
   }
   
}  


@media (max-width: 650px) {
        
    .our__link{
         padding: 0 70px;
    }
    
 }  

@media (max-width: 620px) {
        
    .our__item{
    width: 100%;

    &:last-child{
     
        width: 100%;
    }
}

.our__link{
    padding: 0 50px;
}

}  


@media (max-width: 530px) {
        
    .our__link{
         padding: 0 49px;
    }
    
 }  


@media (max-width: 526px) {
        
    .our__link{
         padding: 0 48px;
    }
    
 }  

 @media (max-width: 522px) {
        
    .our__link{
         padding: 0 40px;
    }
    
 } 

 @media (max-width: 490px) {
        
    .our__link{
         padding: 0 20px;
    }
    
 } 

 @media (max-width: 410px) {
        
    .our__link{
         padding: 0 10px;
    }
    
 } 

 @media (max-width: 370px) {
        
    .our__link{
         padding: 0 8px;
         font-size: 15px;
    }
    
 } 

 @media (max-width: 342px) {
        
    .our__link{
         padding: 0 7px;
         font-size: 14px;
    }
    
 } 
