.partners {
    background: $gray-200;
    padding-top: toRem(80);
    padding-bottom: toRem(85);

    &__row {
        display: flex;
        justify-content: space-between;
        gap: toRem(10);

    }

 

    &__img{
        display: block;
        max-width: 100%;
        height: 0 auto;
    }

   &__inner{
    margin-bottom: 48px;
   }
  
}

@media (max-width: 991px) {
 .partners__row{
    flex-wrap: wrap;
 }

 .partners{
    padding-top: toRem(70);
    padding-bottom: toRem(75);
 }
}

@media (max-width: 768px) {
    .partners__row{
       justify-content: center;
    }

    .partners__inner{
        margin-bottom: 38px;
       }

    .partners{
        padding-top: toRem(60);
        padding-bottom: toRem(65);
     }
}

@media (max-width: 620px) {
    

    .partners{
        padding-top: toRem(50);
        padding-bottom: toRem(55);
     }
}

@media (max-width: 520px) {
    

    .partners{
        padding-top: toRem(40);
        padding-bottom: toRem(45);
     }

     .partners__inner{
        margin-bottom: 30px;
       }
}


@media (max-width: 420px) {
    

    .partners{
        padding-top: toRem(30);
        padding-bottom: toRem(35);
     }
}