.positions-table{
    padding-top: toRem(123);
    padding-bottom: toRem(178);

    &__item{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: toRem(24);

        border: 1px solid $gray-300;
        border-radius: 4px;
        padding: 35px 40px;
        background: $white;

        &:hover{
            box-shadow: 0 4px 4px -4px rgba(30, 33, 44, 0.03), 0 12px 10px -6px rgba(154, 156, 165, 0.04), 0 30px 24px -10px rgba(154, 156, 165, 0.05), 0 80px 80px -20px rgba(154, 156, 165, 0.08);
            background: $white;
        }

        &:last-child{
            margin: 0;
        }
    }

    &__location{
        font-family: $fontFamily;
        font-weight: 400;
        font-size: toRem(14);
        line-height: 150%;
        color: $gray-700;
        position: relative;
        padding-left: 23px;
       

        &::before{
            content: "\e916";
            font-family: "icons"; 
            position: absolute;
            top: -2px;
            left: 0;
            
        }
    }

    &__time{
        font-family: $fontFamily;
        font-weight: 400;
        font-size: toRem(14);
        line-height: 150%;
        color: $gray-700;
        margin-bottom: toRem(12);
        position: relative;
        padding-left: 20px;
     

        &:before{
            content: "\e90b";
            font-family: "icons"; 
            position: absolute;
            top: -2px;
            left: -4px;
        }
    }

    &__top{
        display: flex;
    }

    &__text{
        font-family: $fontFamily;
        font-weight: 700;
        font-size: toRem(20);
        line-height: 150%;
        color: $gray-900;
    }

    &__left{
        width: 705px;
    }

    &__row{
        display: flex;
        gap: toRem(135);
    }

    &__title{
        font-family: $fontFamily;
        font-weight: 700;
        font-size: toRem(28);
        line-height: 150%;
        color: $gray-900;
        margin-bottom: toRem(24);
     
    }

    &__text{
        font-family: $fontFamily;
        font-weight: 700;
        font-size: toRem(18);
        line-height: 150%;
        color: $gray-800;
     
    }

    &__link{
        display: inline-block;
        font-family: $fontFamily;
        font-weight: 700;
        font-size: toRem(16);
        line-height: 325%;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        text-align: center;
        color: $primary;
        border: 1px solid $primary;
        border-radius: 4px;
        padding: 0px 40px;

        &:hover{
        display: inline-block;
        font-family: $fontFamily;
        font-weight: 700;
        font-size: toRem(16);
        line-height: 325%;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        text-align: center;
        color: $white;
        border-radius: 4px;
        padding: 0px 40px;
        background-color: $primary;
        }
        
    }


    &__subtitle{
        font-family: $fontFamily;
        font-weight: 400;
        font-size: toRem(18);
        line-height: 150%;
        color: $gray-800;
        margin-bottom: toRem(48);
    }

    &__errow{
        display: inline-block;
        font-family: $fontFamily;
        font-weight: 700;
        font-size: toRem(16);
        line-height: 325%;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        text-align: center;
        color: $primary;
        border: 1px solid $primary;
        border-radius: 4px;
        padding: 0px 40px;
        margin-right:toRem(30) ;

        &:hover{
            font-family: $fontFamily;
            font-weight: 700;
            font-size: 16px;
            line-height: 325%;
            letter-spacing: 0.03em;
            text-transform: uppercase;
            text-align: center;
            color: $white;
            background: $primary;
            border-radius: 4px;
            padding: 0px 40px;
           
        }
        
    }

    &__btn{
        display: inline-block;
        font-family: $fontFamily;
        font-weight: 700;
        font-size: toRem(16);
        line-height: 325%;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        text-align: center;
        color: $white;
        border-radius: 4px;
        padding: 0px 40px;
        background-color: $primary;

        &:hover{
            font-family: $fontFamily;
            font-weight: 700;
            font-size: 16px;
            line-height: 325%;
            letter-spacing: 0.03em;
            text-transform: uppercase;
            text-align: center;
            color: $primary;
            background: $white;
            border: 1px solid $primary;
            border-radius: 4px;
            padding: 0px 40px;
        }
       
    }

    &__inner{
        max-width: 390px;
    }

    &__span{
        margin: 0 12px 0;
    }

}


@media (max-width: 1200px) {

    .positions-table__row{
        flex-wrap: wrap;
        gap: toRem(125);
        justify-content: center;
    }

  .positions-table{
    padding-top: toRem(110);
    padding-bottom: toRem(160);
  }



}



@media (max-width: 991px) {

  .positions-table{
    padding-top: toRem(90);
    padding-bottom: toRem(140);
  }

  .positions-table__row{
  
    gap: toRem(105);
    
}

}


@media (max-width: 850px) {

    .positions-table{
      padding-top: toRem(80);
      padding-bottom: toRem(120);
    }

    .positions-table__row{
  
        gap: toRem(90);
        
    }
  
  }

  @media (max-width: 768px) {

    .positions-table{
      padding-top: toRem(70);
      padding-bottom: toRem(100);
    }

    .positions-table__row{
  
        gap: toRem(80);
        
    }
  
  }

  @media (max-width: 620px) {

    .positions-table{
      padding-top: toRem(60);
      padding-bottom: toRem(80);
    }

    .positions-table__row{
  
        gap: toRem(70);
        
    }

    .positions-table__content{
            width: 100%;
            text-align: center;
            margin-bottom: 21px;
    }
  
    .positions-table__link{
            width: 100%;
    }
    .positions-table__item{
        flex-wrap: wrap;
    }

    .positions-table__top{
      justify-content: center;
    }
  }

  @media (max-width: 520px) {

    .positions-table{
      padding-top: toRem(50);
      padding-bottom: toRem(60);
    }

    .positions-table__row{
  
        gap: toRem(60);
        
    }

    .positions-table__title{
        font-size: 21px;
  
    }

    .positions-table__subtitle{
        font-size: 14px;
    }
  
  }


  @media (max-width: 420px) {

    .positions-table{
      padding-top: toRem(40);
      padding-bottom: toRem(50);
    }

    .positions-table__row{
  
        gap: toRem(50);
        
    }

    .positions-table__errow{
        width: 100%;
        margin-bottom: 21px;
    }

    .positions-table__btn{
        width: 100%;
    }

   .positions-table__item{
    padding: 25px 30px;
   }

   .positions-table__text{
    font-size: 17px;
   }
  
  }