.some{
    padding-top: toRem(120);

    &__row{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: toRem(50);
    }

    &__title{
        font-family: $fontFamily;
        font-weight: 700;
        font-size: toRem(46);
        line-height: 130%;
        text-align: center;
        color: $gray-900;
    }

    &__text{
        font-family: $fontFamily;
        font-weight: 400;
        font-size: toRem(14);
        line-height: 150%;
        text-align: center;
        color: $gray-900;
    }

    &__img{
        margin-bottom: toRem(20);
    }

}