.video{
    padding: toRem(120) 0 toRem(180);

    &__content{
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;

    }

    
    &__body{
        height: toRem(500);
        border-radius: 4px;
        position: relative;
        overflow: hidden;

        &::before{
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            z-index: 10;
            width: 100%;
            height: 100%;
            background-color: rgba($gray-900, .6);
        }

    }

    &-play{
        position: absolute;
        transform: translate(-50%, -50%);
        top: 50%;
        left: 50%;
       z-index: 100;
       border-radius: 100%;
       fill: $primary;
    }

    &-play__icon{
        font-size: toRem(22);
        color: $white;
        width: toRem(80);
        height: toRem(80);
        background-color: #005aff;;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
    }
}


@media (max-width: 850px) {
    .video-play__icon{
            width: toRem(60);
            height: toRem(60);
            font-size: toRem(16);
    }

    .video{
            padding-bottom: toRem(120);
            padding-top: toRem(100);
    }
}


@media (max-width: 768px) {
    .video-play__icon{
            width: toRem(50);
            height: toRem(50);
            font-size: toRem(14);
    }

    .video{
            padding-bottom: toRem(100);
            padding-top: toRem(80);
    }
}

@media (max-width: 619px) {
    .video-play__icon{
            width: toRem(50);
            height: toRem(50);
            font-size: toRem(14);
    }

    .video{
            padding-bottom: toRem(80);
            padding-top: toRem(60);
    }
}


@media (max-width: 520px) {
  

    .video{
            padding-bottom: toRem(50);
            padding-top: toRem(30);
    }
}
